<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-touch-fullscreen" content="yes">
    <title>components</title>
    <link rel="stylesheet" type="text/css" href="/pages/components/index.css">
</head>
<body>
    <ul class="list">
        <li><a href="./loading">loading</a></li>
        <li><a href="./dropdown">dropdown</a></li>
    </ul>
</body>
</html>
