<html>
<head>
    <meta name="location" content="province=;city=北京">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta charset="utf-8"/>
    <title>美团-酒店商家入驻</title>
    <link href="//p0.meituan.net" rel="dns-prefetch">
    <link href="//p1.meituan.net" rel="dns-prefetch">
    <link href="//mc.meituan.net" rel="dns-prefetch">
    <link rel="stylesheet" href="http://awp-assets.meituan.net/h5/hue/2.0.1/hue.css" charset="utf-8">
    <link rel="stylesheet" href="/pages/demo/singlepage/index.css" charset="utf-8">
    <script type="text/javascript">
    (function(){var a=function(e){var d=document.querySelector('meta[name="viewport"]');if(!d){d=document.createElement("meta");d.setAttribute("name","viewport");document.getElementsByTagName("head")[0].appendChild(d)}var c="width=device-width,user-scalable=no"+",initial-scale="+e+",maximum-scale="+e+",minimum-scale="+e;d.setAttribute("content",c)};var b=function(){var e=window.devicePixelRatio;e=e>=2?2:1;if(e>1){var f=1/e;a(f)}var c=document.documentElement;var d=c.getBoundingClientRect().width;if(d<375){d=375}if(d>1080){d=1080}var g=(d/7.5).toFixed(4);c.style.fontSize=g+"px"};b()})();

    </script>
</head>
<body>
    <div class="container" id="container" v-cloak>
        <header class="hue-navbar hue-navbar__special hide">
            <span class="hue-arrow hue-arrow-left"></span>
            <h1 class="hue-navbar-wrap">美团-酒店商家入驻</h1>
        </header>
        <div v-bind:class="{ 'hide': config.submitForm}">
            <form  v-form name="myform" @submit.prevent="onSubmit" id="uploadForm" enctype="multipart/form-data" class="hue-form">
                <section>
                    <header><h4 class="header">基本信息</h4></header>
                    <div class="hue-list">
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">酒店名称</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="text" v-model="basicInfo.poiName" name="poiname" placeholder="请填写完成酒店名称" v-form-ctrl required>
                                        <div class="hue-item-warn" v-if="(myform.poiname.$dirty && myform.poiname.$invalid) || (myform.poiname.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item  hue-list-item__special">
                            <div class="hue-list-content">所在地区</div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item">
                                        <select v-model="basicInfo.provinceId" class="hue-select" @change="changeRegion('province')">
                                            <option value="-1">请选择省份</option>
                                            <option v-for="item in config.provinceList" v-bind:value="item.code">{{item.name}}</option>
                                        </select>
                                        <span class="hue-arrow hue-arrow-down hue-arrow-down__special"></span>
                                    </div>
                                    <div class="hue-flex-item">
                                        <select v-model="basicInfo.cityId" class="hue-select"  @change="changeRegion('city')">
                                            <option value="-1">请选择城市</option>
                                            <option v-for="item in config.cityList" v-bind:value="item.code">{{item.name}}</option>
                                        </select>
                                        <span class="hue-arrow hue-arrow-down hue-arrow-down__special"></span>
                                    </div>
                                    <div class="hue-flex-item">
                                        <select v-model="basicInfo.locationId" class="hue-select">
                                            <option value="-1">请选择区域</option>
                                            <option v-for="item in config.locationList" v-bind:value="item.code">{{item.name}}</option>
                                        </select>
                                        <span class="hue-arrow hue-arrow-down hue-arrow-down__special"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">酒店地址</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="text" v-model="basicInfo.address" name="address" placeholder="请填写酒店地址" v-form-ctrl required>
                                        <div class="hue-item-warn" v-if="(myform.address.$dirty && myform.address.$invalid) || (myform.address.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">前台电话</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="tel" v-model="basicInfo.phone" name="basicphone" placeholder="请填写前台电话" v-form-ctrl pattern="^[0-9\-(*)\(\)]+$" required>
                                        <div class="hue-item-warn" v-if="(myform.basicphone.$dirty && myform.basicphone.$invalid) || (myform.basicphone.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">房间数量</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="tel" v-model="basicInfo.roomCount" name="roomcount" placeholder="请填写房间数量" v-form-ctrl required pattern="^[0-9]+$">
                                        <div class="hue-item-warn" v-if="(myform.roomcount.$dirty && myform.roomcount.$invalid) || (myform.roomcount.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item hue-list-item__special">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">酒店介绍</div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item" flex="3">
                                        <textarea rows="5" cols="50" placeholder="可选填" v-model="basicInfo.introduction" name="introduction"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <header><h4 class="header">证照信息</h4></header>
                    <div class="hue-list">
                        <div class="hue-list-item hue-list-item__special">
                            <div class="hue-list-content">酒店证照(选填)</div>
                            <div class="hue-list-arrow">
                                <span class="hue-arrow hue-arrow-right"></span>
                            </div>
                        </div>

                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div>
                                    <input type="file" id="hue-file" @change="onFileChange" class="hue-file hide">
                                    <a class="hue-btn hue-btn-primary hue-file-btn" href="javascript:void(0)" @click="selectFile" :disabled="config.disabled" v-bind:class="{ 'hue-btn-primary-disabled': config.disabled}">选择文件</a>
                                </div>

                                 <ul class="hue-file-list hue-clearfix">
                                    <li v-for="item in certificateInfo">
                                        <img :src="item.fileUrl" class="hue-image"/>
                                        <i class="hueui-icon-cancel hueui-icon-cancel__special" @click="removeImage($index)"></i>
                                    </li>
                                    <li class="hueui-loadmore" v-show="config.disabled">
                                        <i class="hueui-loading"></i>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <header><h4 class="header">酒店联系人</h4></header>
                    <div class="hue-list">
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">酒店联系人</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="txt" v-model="contactInfo.name" name="contactname" placeholder="请填写身份证上的姓名" v-form-ctrl required>
                                        <div class="hue-item-warn" v-if="(myform.contactname.$dirty && myform.contactname.$invalid) || (myform.contactname.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">联系人手机</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="tel" v-model="contactInfo.phone" name="contactphone" placeholder="请填写联系人手机号码" v-form-ctrl required pattern="^[0-9]{11}$" maxlength="11">
                                        <div class="hue-item-warn" v-if="(myform.contactphone.$dirty && myform.contactphone.$invalid) || (myform.contactphone.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hue-list-item">
                            <div class="hue-list-content">
                                <div class="hue-flex">
                                    <div class="hue-flex-item hue-fc-3">联系人邮箱</div>
                                    <div class="hue-flex-item" flex="3">
                                        <input type="email" v-model="contactInfo.email" name="contactemail" placeholder="请填写联系人邮箱" v-form-ctrl required>
                                        <div class="hue-item-warn" v-if="(myform.contactemail.$dirty && myform.contactemail.$invalid) || (myform.contactemail.$invalid && config.submit)"><i class="hueui-icon-warn"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="hue-block hue-flex">
                        <button class="hue-flex-item hue-btn hue-btn-primary mr-20" flex="1" type="button" v-on:click="submitForm" :disabled="config.disabled" v-bind:class="{ 'hue-btn-primary-disabled': config.disabled}">提交</button>
                    </div>
                </section>
            </form>
        </div>
        <div class="success" v-bind:class="{ 'hide': !config.submitForm}" id="success">
            <div class="hue-block hue-block-icon">
                <i class="hueui-icon-success">
                    <span class="hueui-icon__msg">提交成功</span>
                </i>
            </div>
            <div class="hue-block">
                <p class="hue-ellipsis">
                    <span class="hue-tc hue-ellipsis-block">您的合作信息已经提交成功</span>
                    <span class="hue-tc hue-ellipsis-block">5个工作日内将有业务员和您联系，请耐心等待。</span>
                </p>
            </div>
        </div>
    </div>
    <script src="http://awp-assets.meituan.net/hfe/hfe-assets/vue/1.0.26/vue.min.js"></script>
    <script src="http://awp-assets.meituan.net/hfe/hfe-assets/vue-resource/0.9.3/vue-resource.min.js"></script>
    <script src="/pages/demo/singlepage/index.js"></script>
</body>
</html>
